body {
    margin-top: 1.0em;
//    background-color: #d199d1;
    font-family: "Helvetica,Arial,FreeSans";
    color: #000000;
}

h1 { font-size: 3.8em; color: #2e662e; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #2e662e; }
h3 { color: #2e662e; }

a { color: #2e662e; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

//pre { background: #000; color: #fff; padding: 15px;}
pre {
    background-color:#F8F8FF !important;
    border-bottom-color:#DEDEDE !important;
    border-bottom-style:solid !important;
    border-bottom-width:1px !important;
    border-left-color-ltr-source:physical !important;
    border-left-color-rtl-source:physical !important;
    border-left-color-value:#DEDEDE !important;
    border-left-style-ltr-source:physical !important;
    border-left-style-rtl-source:physical !important;
    border-left-style-value:solid !important;
    border-left-width-ltr-source:physical !important;
    border-left-width-rtl-source:physical !important;
    border-left-width-value:1px !important;
    border-right-color-ltr-source:physical !important;
    border-right-color-rtl-source:physical !important;
    border-right-color-value:#DEDEDE !important;
    border-right-style-ltr-source:physical !important;
    border-right-style-rtl-source:physical !important;
    border-right-style-value:solid !important;
    border-right-width-ltr-source:physical !important;
    border-right-width-rtl-source:physical !important;
    border-right-width-value:1px !important;
    border-top-color:#DEDEDE !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
    color:#444444 !important;
    font-size:90% !important;
    line-height:1.5em !important;
    margin-bottom:1em !important;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-top:1em !important;
    overflow-x:auto !important;
    overflow-y:auto !important;
    padding-bottom:0.5em !important;
    padding-left:0.5em !important;
    padding-right:0.5em !important;
    padding-top:0.5em !important;
}